NATS_HOSTS=nats://it.brightenkm.com:1222,nats://it.brightenkm.com:1223,nats://it.brightenkm.com:1224
NATS_TOKEN=eGmhE3bHO3pnuoA0y2iP0y
NATS_NAMESPACE=alpha
MONGO_URL=mongodb://localhost:27017
MONGO_DATABASE=example
